body {
  background: #7F7FD5;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

* {
  font-family: sans-serif;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style: none;
}

.container {
  width: 90%;
  border: 1px solid rgba(225, 225, 226, 0.8);
  margin: 0px auto;
  background: white;
  margin-top: 40px;
  margin-bottom: 40px;
  min-height: 700px;
}
.container .header {
  display: flex;
  flex-flow: row wrap;
  height: 120px;
  align-items: center;
  border-bottom: 1px solid #ccc;
}
.container .header .logo {
  flex-grow: 1;
  flex-basis: 60%;
  padding-left: 30px;
}
.container .header .logo h1 {
  font-size: 55px;
  font-style: italic;
  text-shadow: 0px 0px 5px #ccc;
  text-transform: uppercase;
}
.container .header .menu {
  flex-grow: 1;
  flex-basis: 30%;
  padding-right: 30px;
}
.container .header .menu ul {
  display: flex;
  justify-content: space-between;
  height: 100%;
}
.container .header .menu ul li a {
  color: #222;
  padding: 15px;
  text-transform: uppercase;
  transition: all 300ms;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -ms-transition: all 300ms;
  -o-transition: all 300ms;
}
.container .header .menu ul li a:hover {
  background: #ccc;
  color: white;
}
.container .content {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}
.container .content .aside {
  flex-basis: 20%;
  text-align: center;
  padding: 15px;
}
.container .content .aside h2 {
  font-size: 35px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}
.container .content .aside ul {
  display: flex;
  flex-flow: column wrap;
}
.container .content .aside ul li {
  margin-bottom: 20px;
}
.container .content .aside ul li a {
  width: 230px;
  display: block;
  padding: 15px;
  margin: 0px auto;
  color: #222;
  transition: all 300ms;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -ms-transition: all 300ms;
  -o-transition: all 300ms;
}
.container .content .aside ul li a:hover {
  background-color: #222;
  color: white;
}
.container .content .proyects {
  display: flex;
  flex-basis: 75%;
  flex-flow: row wrap;
  padding-right: 10px;
  justify-content: space-between;
}
.container .content .proyects .proyect {
  flex-grow: 1;
  border: 1px solid #ccc;
  margin-right: 20px;
  margin-bottom: 20px;
}
.container .content .proyects .proyect .image-wrap img {
  width: 100%;
}
.container .content .proyects .proyect .proyect-info {
  padding: 10px;
}
.container .content .proyects .proyect .proyect-info a {
  color: #222;
  transition: all 300ms;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -ms-transition: all 300ms;
  -o-transition: all 300ms;
}
.container .content .proyects .proyect .proyect-info a:hover {
  color: rgb(42, 106, 42);
}
.container .content .proyects .proyect .proyect-info p {
  color: gray;
}/*# sourceMappingURL=estilos.css.map */